{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h1>Buscador de cursos</h1>
  

    </h5>Ingrese el numero de camada que desea buscar:</h5>

    <form action="/AppCoder/buscar/" method="GET">

        <input type="number" name="camada" id="camada">

        <input type="submit" value="Buscar">




    </form>

    

    {% if cursos %}

    <p>Estamos buscando el: {{camada}}</p>

    <ul>
	{% for curso in cursos %}
		<li> {{curso.nombre}} </li>
		<li> {{curso.camada}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}